# Assignment 1

## Loading data

In [1]:
from aa import DataLoader
from aa import extract_features
from aa import check_output
import torch

In [2]:
device=torch.device('cuda:0')

In [3]:
dataset = DataLoader(data_dir="../DDICorpus/DDICorpus/", device=device)

In [4]:
dataset.data_df.head()

            sentence_id  token_id char_start_id char_end_id split
1  DDI-DrugBank.d644.s0         0           142         155  test
2  DDI-DrugBank.d644.s2         1            62          69  test
3  DDI-DrugBank.d644.s2         2            71          82  test
4  DDI-DrugBank.d644.s2         3            84          92  test
5  DDI-DrugBank.d644.s2         4            95         102  test

In [5]:
dataset.ner_df.head()

            sentence_id  ner_id char_start_id char_end_id
1  DDI-DrugBank.d644.s0       0           142         155
2  DDI-DrugBank.d644.s2       0            62          69
3  DDI-DrugBank.d644.s2       1            71          82
4  DDI-DrugBank.d644.s2       0            84          92
5  DDI-DrugBank.d644.s2       2            95         102

In [6]:
dataset.vocab[:15]

AttributeError: 'DataLoader' object has no attribute 'vocab'

In [7]:
dataset.id2ner

{0: 'drug', 1: 'group', 2: 'brand'}

In [8]:
dataset.max_sample_length

5

In [15]:
dataset.get_random_sample()

'DRUG:Rifampin GROUP:barbiturates DRUG:phenytoin Dilantin DRUG:carbamazepine BRAND:Tegretol GROUP:Estrogens GROUP:benzodiazepines DRUG:lorezepam DRUG:oxezepam DRUG:temezepam'

### Data Exploration

In [ ]:
dataset.plot_split_ner_distribution()

### Labels

In [ ]:
train_y, val_y, test_y = check_output(dataset.get_y())

## Extracting Features

In [ ]:
train_X, val_X, test_X = check_output(extract_features(
                                                        data=dataset.data_df,
                                                        max_sample_length=dataset.max_sample_length,
                                                        #Add any addtional arguments here
                                                       ))

## Bonus Part: Explore Some more

In [ ]:
#uncomment the code below if you want to do bonus part

In [ ]:
#dataset.plot_ner_per_sample_distribution()

In [ ]:
#dataset.plot_sample_length_distribution()

In [ ]:
#dataset.plot_ner_cooccurence_venndiagram()